<!DOCTYPE html>
<html">
<head>
    <title>Lab1</title>
</head>
<body>
    <Header>
        <h1 style="text-align: center;">Mobasery Library</h1> <br />
    </Header>

    <table>
        <tr>
            <th align="left">Navigation Pane </th>
            <th align="justify">Books List </th> 
        </tr>

        <tr>
            <td width = "250"> </b> <br>
                <ul>
                    <li><a href="index.html">Home Page </a></li>
                    <li><a href="books.html">Books </a></li>
                    <li><a href="contact.html">Contact Us </a></li>
                    <li><a href="survey.html">Survey </a></li><br /> <br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br />
                </ul>
            </td>
            <td>
                <p> <img src="book2.jpg" height= "436" width= "318" align="middle"/> </img> </td>
            <td> You're the password to my life: <br />
            <p>You're the password to my life is a 2014 novel by Indian author and engineer Sudeep Nagarkar. It was Published in November 2014. <br />
                We all have that one person in our lives in whose absence our existence seems meaningless! Virat and Kavya are like chalk and cheese. While Virat is cautious and reserved, Kavya is outgoing and likes to lead a life full of reckless fun. In spite of their differences, they are best friends, and not even Mahek—the love of Virat’s life—can come in the way of that. But, as happens in every relationship, their friendship is put to the test by an unforeseen incident. Can Aditya, along with his cousin, come to their rescue yet again? You’re the Password to My Life is a true story that shows how friendship is the only ‘ship’ that does not sink.</p>
            </td>
        </tr>
    </table>
</body>
</html>