<!DOCTYPE html>
<html">
<head>
    <title>Lab1</title>
</head>
<body>
    <Header>
        <h1 style="text-align: center;">Mobasery Library</h1> <br />
    </Header>

    <table>
        <tr>
            <th align="left">Navigation Pane </th>
            <th align="justify">Books List </th> 
        </tr>

        <tr>
            <td width = "250"> </b> <br>
                <ul>
                    <li><a href="index.html">Home Page </a></li>
                    <li><a href="books.html">Books </a></li>
                    <li><a href="contact.html">Contact Us </a></li>
                    <li><a href="survey.html">Survey </a></li><br /> <br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br />
                </ul>
            </td>
            <td>
                <p> <img src="book3.jpg" height= "436" width= "318" align="middle"/> </img> </td>
            <td> She Swiped Right into My Heart: <br />
            <p>She Swiped Right into My Heart is a 2016 novel by Indian author and engineer Sudeep Nagarkar. <br />
                If you've never had friends, you've never really lived. Geet, one of the most unpopular girls in college, is best friends with the beautiful and sought after Shibani. To win the popularity vote, Geet takes the help of college hottie Rudra, who agrees to act as her ‘boyfriend' as he sees this as an opportunity to get closer to Shibani. Little does he know that Shibani has been harbouring feelings for someone else all along. As misunderstandings and jealousies take centre stage, Geet must make a decision that will affect not just her own life, but also those of her loved ones. She Swiped Right into My Heart is a story about love gained and lost, and the healing power of friendship. </p>
            </td>
        </tr>
    </table>
</body>
</html>