<!DOCTYPE html>
<html">
<head>
    <title>Lab1</title>
</head>
<body>
    <Header>
        <h1 style="text-align: center;">Mobasery Library</h1> <br />
    </Header>

    <table>
        <tr>
            <th align="left">Navigation Pane </th>
            <th align="justify">Books List </th> 
        </tr>

        <tr>
            <td width = "225"> </b> <br>
                <ul>
                    <li><a href="index.html">Home Page </a></li>
                    <li><a href="books.html">Books </a></li>
                    <li><a href="contact.html">Contact Us </a></li>
                    <li><a href="survey.html">Survey </a></li> <br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br />  
                </ul>
            </td>
            <td>
                <p> <a href="book1.html" > <img src="book1.jpg" height= "436" width= "318" align="middle"/> </img> Few Things Left Unsaid </a> </p>
                <p> <a href="book2.html" > <img src="book2.jpg" height= "475" width= "305" align="middle"/> </img> You're the password to my life</a> </p>
                <p> <a href="book3.html" > <img src="book3.jpg" height= "500" width= "326" align="middle"/> </img> She Swiped Right into My Heart</a> </p>
                
            </td>
        </tr>
    </table>
</body>
</html>