<!DOCTYPE html>
<html">
<head>
    <title>Lab1</title>
</head>
<body>
    <Header>
        <h1 style="text-align: center;">Mobasery Library</h1> <br />
    </Header>

    <table>
        <tr>
            <th align="left">Navigation Pane </th>
            <th align="justify">Introduction </th> 
        </tr>

        <tr>
            <td width = "225"> </b> <br>
                <ul>
                    <li><a href="home.html">Home Page </a></li> 
                    <li><a href="books.html">Books </a></li>
                    <li><a href="contact.html">Contact Us </a></li>
                    <li><a href="survey.html">Survey </a></li>
                </ul>
            </td>
            <td>Hello and welcome to Mobasery Library. We are happy to have you here. The navigation pane on the left side gives you the various options avialable. In the books section you will find all the books avilable at the library for you. The contact us page will give you the exact location and address to come visit us. And using the servey page please let us know about our service. <br>
                We welcome you once again !!
            </td>
        </tr>
    </table>
</body>
</html>